name: github
on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:
permissions:
  contents: write
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  github:
    runs-on: ubuntu-latest
    steps:
      - name: git pull
        uses: actions/checkout@v6

      - name: stats
        shell: pwsh
        run: |
          $query = @"
          {
            user(login: "marchenko1985") {
              contributionsCollection {
                totalCommitContributions
                restrictedContributionsCount
              }
              repositoriesContributedTo(first: 1, contributionTypes: [COMMIT, ISSUE, PULL_REQUEST, REPOSITORY]) {
                totalCount
              }
              pullRequests(first: 1) {
                totalCount
              }
              issues(first: 1) {
                totalCount
              }
              followers {
                totalCount
              }
              repositories(first: 100, ownerAffiliations: OWNER, orderBy: { direction: DESC, field: STARGAZERS }) {
                totalCount
                nodes {
                  stargazers {
                    totalCount
                  }
                }
              }
            }
          }
          "@

          Invoke-RestMethod -Method Post "https://api.github.com/graphql" -Headers @{ Authorization = "Bearer $($env:GITHUB_TOKEN)" } -Body (ConvertTo-Json -InputObject @{ query = $query }) | Select-Object -ExpandProperty data | ConvertTo-Json -Depth 100 | Out-File assets/stats.json

      - name: languages
        shell: pwsh
        run: |
          $query = @"
          {
            user(login: "marchenko1985") {
              repositories(ownerAffiliations: OWNER, first: 100, orderBy: {field: STARGAZERS, direction: DESC}) {
                nodes {
                  languages(first: 10, orderBy: {field: SIZE, direction: DESC}) {
                    edges {
                      node {
                        name
                      }
                    }
                  }
                }
              }
            }
          }
          "@

          Invoke-RestMethod -Method Post "https://api.github.com/graphql" -Headers @{ Authorization = "Bearer $($env:GITHUB_TOKEN)" } -Body (ConvertTo-Json -InputObject @{ query = $query }) | Select-Object -ExpandProperty data | ConvertTo-Json -Depth 100 | Out-File assets/languages.json

      - name: contributions
        shell: pwsh
        run: |
          $query = @"
          {
            search(query: "is:merged is:pr is:public archived:false author:marchenko1985", type: ISSUE, first: 10) {
              edges {
                node {
                  ... on PullRequest {
                    title
                    url
                    repository {
                      nameWithOwner
                    }
                  }
                }
              }
            }
          }
          "@

          Invoke-RestMethod -Method Post "https://api.github.com/graphql" -Headers @{ Authorization = "Bearer $($env:GITHUB_TOKEN)" } -Body (ConvertTo-Json -InputObject @{ query = $query }) | Select-Object -ExpandProperty data | ConvertTo-Json -Depth 100 | Out-File assets/contributions.json

      - name: git config
        run: |
          git config user.name actions
          git config user.email actions@github.com

      - name: git commit
        run: |
          git add .
          git commit -m github
          git push
