name: google
on:
  workflow_dispatch:
permissions:
  id-token: write
jobs:
  google:
    runs-on: ubuntu-latest
    steps:
      - run: |
          token=$(curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq -r .value)
          echo "token: $token"

          echo STS
          curl -s -X POST https://sts.googleapis.com/v1/token -H "Content-Type: application/json" -d "{
            \"grant_type\": \"urn:ietf:params:oauth:grant-type:token-exchange\",
            \"audience\": \"//iam.googleapis.com/projects/348636136344/locations/global/workloadIdentityPools/github/providers/github\",
            \"scope\": \"https://www.googleapis.com/auth/cloud-platform\",
            \"requested_token_type\": \"urn:ietf:params:oauth:token-type:access_token\",
            \"subject_token_type\": \"urn:ietf:params:oauth:token-type:jwt\",
            \"subject_token\": \"$token\"
          }"
          echo ---

          # RFC 8693 token exchange call to Google STS
          sts=$(curl -s -X POST https://sts.googleapis.com/v1/token -H "Content-Type: application/json" -d "{
            \"grant_type\": \"urn:ietf:params:oauth:grant-type:token-exchange\",
            \"audience\": \"//iam.googleapis.com/projects/348636136344/locations/global/workloadIdentityPools/github/providers/github\",
            \"scope\": \"https://www.googleapis.com/auth/cloud-platform\",
            \"requested_token_type\": \"urn:ietf:params:oauth:token-type:access_token\",
            \"subject_token_type\": \"urn:ietf:params:oauth:token-type:jwt\",
            \"subject_token\": \"$token\"
          }" | jq -r .access_token)
          echo "STS: $sts"

          # Call Google Cloud IAM to generate an access token for a service account
          access_token=$(curl -s -X POST "https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/marchenko1985@marchenko1985.iam.gserviceaccount.com:generateAccessToken" -H "Authorization: Bearer $sts" -H "Content-Type: application/json" -d '{
            "scope": ["https://www.googleapis.com/auth/webmasters.readonly"]
          }' | jq -r .accessToken)
          echo "access_token: $access_token"

          # Call Google Search Console API
          curl -s -H "Authorization: Bearer $access_token" https://searchconsole.googleapis.com/webmasters/v3/sites
