name: google
on:
  workflow_dispatch:
permissions:
  # contents: read # at moment we do not need to read repo contents
  id-token: write # but we want to play with OIDC tokens
jobs:
  google:
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v6 # at moment we do not need to checkout repo contents

      # OpenID Connect
      # OpenID Connect allows your workflows to exchange short-lived tokens directly from your cloud provider.
      # https://docs.github.com/en/actions/concepts/security/openid-connect

      # Methods for requesting the OIDC token
      # https://docs.github.com/en/actions/reference/security/oidc#methods-for-requesting-the-oidc-token
      # states that there will be two environment variables available

      - name: ACTIONS_ID_TOKEN_REQUEST_URL
        run: |
          echo "ACTIONS_ID_TOKEN_REQUEST_URL: $ACTIONS_ID_TOKEN_REQUEST_URL"
        # ACTIONS_ID_TOKEN_REQUEST_URL: https://run-actions-2-azure-eastus.actions.githubusercontent.com/152//idtoken/6a5e4506-885f-4c7b-a4cf-70f6e241634b/d78f7636-37d2-56e6-a557-10cab26cfb09?api-version=2.0

      - name: ACTIONS_ID_TOKEN_REQUEST_TOKEN
        run: |
          echo "ACTIONS_ID_TOKEN_REQUEST_TOKEN: $ACTIONS_ID_TOKEN_REQUEST_TOKEN" | xxd -p
        # ACTIONS_ID_TOKEN_REQUEST_TOKEN: xxx

      # which may be used to retrieve the OIDC token like so
      - name: retrieve OIDC token
        run: |
          curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq -r .value | xxd -p
        # {"value":"***"}

      - uses: actions/github-script@v8
        with:
          script: |
            core.getIDToken('HelloWorld').then(token => {
              // just for demo purposes we are printing it as hex, otherwise github will mask the token
              console.log(Buffer.from(token, 'utf8').toString('hex'))
            })
