name: readme
on:
  schedule:
    - cron: "0 1 * * 0"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  readme:
    runs-on: ubuntu-latest
    steps:
      - name: git pull
        uses: actions/checkout@v6

      - name: npm install
        run: npm install

      - name: node readme.mjs
        run: node readme.mjs

      - run: cat README.md

      - name: git config
        run: |
          git config user.name actions
          git config user.email actions@github.com

      - name: git commit
        run: |
          git add .
          git commit -m wakatime
          git push
